<script>

    function FetchCart() {
        console.log("Hello")
        $.ajax({
            url: "/Cart/FetchCart",
            type: "GET",
            success: function (response) {
                if (response.error) {
                    console.error(response.error);
                } 
                else {
                    var html = '';
                    var qty = 0;
                    var total = 0;
                    if (response.length === 0) {
                        html += '<strong class="position-absolute top-50 start-50 translate-middle fs-4">Cart Empty</strong>';
                        $('#offcanvas')
                    }
                    else {
                        $.each(response, function (index, item) {
                            html += '<li class="list-group-item d-flex justify-content-between lh-sm">';
                            html += '<div>';
                            html += '<h6 class="my-0">' + item.name + '</h6>';
                            html += '<small class="text-body-secondary">Qty: ' + item.quantity + '</small>';
                            html += '</div>';
                            html += '<span class="text-body-secondary">₹' + item.price * item.quantity + '</span>';
                            html += '</li>';
                            qty += item.quantity;
                            total += item.quantity * item.price;
                        });
                        html += '<li class="list-group-item d-flex justify-content-between">';
                        html += '<span> Total(INR) </span>';
                        html += '<strong>₹' + total + '</strong>';
                        html += '</li>';
                    }
                    $('#offcanvasCart .list-group').html(html);
                    $('#offcanvasCart .badge').text(qty);
                }
            }
        });
    }

    function AddToCart(ProductId) {
        console.log(ProductId)
        $.ajax({
            url: "/Cart/AddToCart",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                ProductId: ProductId,
            }),
            success: function (response) {
                if (response.error) {
                    console.error(response.error);
                } else {
                    $("#" + ProductId).text(response);
                }
            },
            error: function (err) {
                console.error(err);
            }
        });
    }

    function RemoveFromCart(ProductId) {
        console.log(ProductId)
        $.ajax({
            url: "/Cart/RemoveFromCart",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                ProductId: ProductId,
            }),
            success: function (response) {
                if (response.error) {
                    console.error(response.error);
                } else {
                    if (response < 0) {
                        $("#" + ProductId).text(0);
                    }
                    else{
                        $("#" + ProductId).text(response);
                    }
                }
            },
            error: function (err) {
                console.error(err);
            }
        });
    }

    function CheckOut() {
        $.ajax({
            url: "/Order/NewOrder",
            type: "POST",
            data: {},
            success: function (response) {
                if (response.error) {
                    console.error(response.error);
                } else {                    
                    console.log('Order processed successfully.');
                }
            },
            error: function (err) {
                console.error(err);
            }
        });
    }


</script>
