<div class="offcanvas offcanvas-end" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-scroll="true" tabindex="-1" id="offcanvasUser" aria-labelledby="User">
    <div class="offcanvas-header justify-content-center">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @if (ViewData["Email"] != null)
        {
            <div class="order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary override">
                        @ViewData["Name"]
                    </span>
                </h4>
                <a class="w-100 btn btn-primary btn-lg" asp-controller="User" asp-action="LogOut">Log out</a>
            </div>
        }
        else 
        {
            <div class="order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary override">Hey user!</span>
                </h4>
                <a class="w-100 btn btn-primary btn-lg" asp-controller="User" asp-action="SignIn">Sign In/ Register</a>
            </div>
        }
    </div>
</div>
