@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

@{
    var email = HttpContextAccessor.HttpContext.Session.GetString("Email");
    var name = HttpContextAccessor.HttpContext.Session.GetString("Name");
}

<div class="offcanvas offcanvas-end" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-scroll="true" tabindex="-1" id="offcanvasUser" aria-labelledby="User">
    <div class="offcanvas-header justify-content-start">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @if (email != null)
        {
            <div class="order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary override">
                        Hi @name!
                    </span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0"><a class="btn" asp-controller="Order" asp-action="GetOrders">Orders</a></h6>
                        </div>
                    </li>
                </ul>
                <a class="btn btn-danger" asp-controller="User" asp-action="LogOut" style="text-align:center">Log out</a>
            </div>
        }
        else
        {
            <div class="order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary override">Hey user!</span>
                </h4>
                <a class="w-100 btn btn-primary btn-lg" asp-controller="User" asp-action="SignIn">Sign In/ Register</a>
            </div>
        }
    </div>
</div>
