<section class="py-3" style="background-image: url('/content/img/background-pattern.jpg');background-repeat: no-repeat;background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="banner-blocks">

                    <div class="banner-ad large bg-info block-1">

                        <div class="swiper main-swiper">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <div class="row banner-content p-5">
                                        <div class="content-wrapper col-md-7">
                                            <div class="categories my-3">100% natural</div>
                                            <h3 class="display-4">Fresh Smoothie & Summer Juice</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                                            <a asp-controller="Product" asp-action="mart" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Shop Now</a>
                                        </div>
                                        <div class="img-wrapper col-md-5">
                                            <img src="~/content/img/product-thumb-1.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="swiper-pagination"></div>

                        </div>
                    </div>

                    <div class="banner-ad bg-success-subtle block-2" style="background:url('/content/img/ad-image-1.png') no-repeat;background-position: right bottom">
                        <div class="row banner-content p-5">

                            <div class="content-wrapper col-md-7">
                                <div class="categories sale mb-3 pb-3">20% off</div>
                                <h3 class="banner-title">Fruits & Vegetables</h3>
                                <a asp-controller="Product" asp-action="mart" class="d-flex align-items-center nav-link">Shop Collection <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                            </div>

                        </div>
                    </div>

                    <div class="banner-ad bg-danger block-3" style="background:url('/content/img/ad-image-2.png') no-repeat;background-position: right bottom">
                        <div class="row banner-content p-5">

                            <div class="content-wrapper col-md-7">
                                <div class="categories sale mb-3 pb-3">15% off</div>
                                <h3 class="item-title">Baked Products</h3>
                                <a asp-controller="Product" asp-action="mart" class="d-flex align-items-center nav-link">Shop Collection <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- / Banner Blocks -->

            </div>
        </div>
    </div>
</section>

<section class="py-5 overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header d-flex flex-wrap justify-content-between mb-5">
                    <h2 class="section-title">Featured Categories</h2>

                    <div class="d-flex align-items-center">
                        <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
                        <div class="swiper-buttons">
                            <button class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
                            <button class="swiper-next category-carousel-next btn btn-yellow">❯</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="category-carousel swiper">
                    <div class="swiper-wrapper">
                        <a asp-controller="Product" asp-action="mart" class="nav-link category-item swiper-slide">
                            <img src="/content/img/icon-vegetables-broccoli.png" alt="Category Thumbnail">
                            <h3 class="category-title">Produce</h3>
                        </a>
                        <a asp-controller="Product" asp-action="mart" class="nav-link category-item swiper-slide">
                            <img src="/content/img/icon-bread-herb-flour.png" alt="Category Thumbnail">
                            <h3 class="category-title">Rice & Flour</h3>
                        </a>
                        <a asp-controller="Product" asp-action="mart" class="nav-link category-item swiper-slide">
                            <img src="/content/img/icon-bread-baguette.png" alt="Category Thumbnail">
                            <h3 class="category-title">Baked goods</h3>
                        </a>
                        <a asp-controller="Product" asp-action="mart" class="nav-link category-item swiper-slide">
                            <img src="/content/img/icon-soft-drinks-bottle.png" alt="Category Thumbnail">
                            <h3 class="category-title">Drinks</h3>
                        </a>
                        <a asp-controller="Product" asp-action="mart" class="nav-link category-item swiper-slide">
                            <img src="/content/img/icon-animal-products-drumsticks.png" alt="Category Thumbnail">
                            <h3 class="category-title">Meat</h3>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="banner-ad bg-danger mb-3" style="background: url('/content/img/ad-image-3.png');background-repeat: no-repeat;background-position: right bottom;">
                    <div class="banner-content p-5">

                        <div class="categories text-primary fs-3 fw-bold">Upto 25% Off</div>
                        <h3 class="banner-title">Luxa Dark Chocolate</h3>
                        <p>Very tasty & creamy vanilla flavour creamy muffins.</p>
                        <a asp-controller="Product" asp-action="mart" class="btn btn-dark text-uppercase">Shop Now</a>

                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="banner-ad bg-info" style="background: url('/content/img/ad-image-4.png');background-repeat: no-repeat;background-position: right bottom;">
                    <div class="banner-content p-5">

                        <div class="categories text-primary fs-3 fw-bold">Upto 25% Off</div>
                        <h3 class="banner-title">Creamy Muffins</h3>
                        <p>Very tasty & creamy vanilla flavour creamy muffins.</p>
                        <a asp-controller="Product" asp-action="mart" class="btn btn-dark text-uppercase">Shop Now</a>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section id="latest-blog" class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="section-header d-flex align-items-center justify-content-between my-5">
                <h2 class="section-title">Our Recent Blogs</h2>
                <div class="btn-wrap align-right">
                    <a href="#" class="d-flex align-items-center nav-link">Read All Articles <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <article class="post-item card border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect">
                        <a href="https://www.medicalnewstoday.com/articles/324431" target="_blank">
                            <img src="/content/img/post-thumb-1.jpg" alt="post" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                            <div class="meta-date"><svg width="16" height="16"><use xlink:href="#calendar"></use></svg>22 Aug 2024</div>
                            <div class="meta-categories"><svg width="16" height="16"><use xlink:href="#category"></use></svg>Health</div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="https://www.medicalnewstoday.com/articles/324431" target="_blank" class="text-decoration-none">12 most nutritious fruits</a>
                            </h3>
                            <p>Eating a range of healthful fruits provides the body with nutrients and antioxidants that can boost overall health. Good choices include orang...</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="post-item card border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect">
                        <a href="https://www.slurrp.com/article/cashew-butter-a-creamy-nut-butter-with-amazing-benefits-1678268361900">
                            <img src="/content/img/post-thumb-2.jpg" alt="post" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                            <div class="meta-date"><svg width="16" height="16"><use xlink:href="#calendar"></use></svg>17 Feb 2024</div>
                            <div class="meta-categories"><svg width="16" height="16"><use xlink:href="#category"></use></svg>trending</div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="https://www.slurrp.com/article/cashew-butter-a-creamy-nut-butter-with-amazing-benefits-1678268361900" target="_blank" class="text-decoration-none">About Cashew Butter</a>
                            </h3>
                            <p>Cashew butter is a food spread made from baked or roasted cashews. It is rich and creamy in flavour and when stored the oils and solids separa...</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="post-item card border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect">
                        <a href="https://www.medicalnewstoday.com/articles/266765">
                            <img src="/content/img/post-thumb-3.jpg" alt="post" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                            <div class="meta-date"><svg width="16" height="16"><use xlink:href="#calendar"></use></svg>14 Mar 2021</div>
                            <div class="meta-categories"><svg width="16" height="16"><use xlink:href="#category"></use></svg>inspiration</div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="https://www.medicalnewstoday.com/articles/266765" target="_blank" class="text-decoration-none">Speciality of Broccoli</a>
                            </h3>
                            <p>Broccoli is low in calories and contains many nutrients and antioxidants that benefit various aspects of human health...</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
